@page
@using Microsoft.Extensions.Localization
@using ADMail.Localization
@using ADMail.Web.Pages.ADMail
@model ADMail.Web.Pages.ADMail.IndexModel
@inject IStringLocalizer<ADMailResource> L

@{
}
<h1>ADMail</h1>
<p>@L["SamplePageMessage"]</p>
